body {
  margin-top: 180px;
  margin-left: 500px;
  align-items: center;
  display: flex;
}
.module {
  animation: is-rotation 1s infinite;
  border: 4px solid white;
  border-radius: 50%;
  border-top-color: black;
  height: 200px;
  width: 200px;
  position: absolute;

}
@keyframes is-rotation{
  to {
    transform: rotate(1turn);
  }
}

.LOADING p {
  padding-top: 70px;
  padding-left: 60px;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  position: absolute;

}
